

.todoadd{
  
   display: flex;
   justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
   border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: 1px 2px 20px black;
  overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
  }
button{
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 3px 10px rgb(5, 5, 5);
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;

}

button:hover{
    box-shadow: 1px 3px 10px rgb(97, 110, 62);
}

.todoadd input {
    display: block;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #c8aee6;
    background: #e0d6ee;
    color: #20132d;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  